@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.daftar-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-left: 28px;
  width: 420px;
  height: 470px;
}
.daftar-container p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 45px;
}
.form--container {
  margin-top: 15px;
  max-width: 400px;
  max-height: 50px;
}
.form--container .form-btn {
  width: 422px;
  height: 45px;
  margin-top: 20px;
  margin-left: 1px;
  font-size: 18px;
  text-align: center;
  background-color: #393939;
  color: #fff;
}
.form-btn:hover {
  background-color: #393939;
}
.daftar-container .end-text {
  margin-top: 18px;
  margin-left: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
}
.daftar-container .end-text span {
  font-weight: bold;
  cursor: pointer;
  color: #393939;
}
.daftar-message {
  margin-top: 2px;
  margin-bottom: 2px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}
.bg-waring {
  background-color: yellow;
}
.bg-error {
  background-color: #d60000;
  color: #fff;
}
.bg-success {
  color: #fff;
  background-color: green;
}
