.addbook--menu-container {
  max-width: 1349px;
  display: flex;
  flex-direction: column;
}
.addbook--menu-body {
  max-width: 900px;
  margin-left: 222px;
  margin-top: 80px;
  margin-bottom: 123px;
}
.addbook--body-title p {
  font-size: 28px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.addbook--body-form {
  margin-top: 60px;
}
.form-body-input {
  background: rgba(210, 210, 210, 0.25);
  height: 40px;
  margin-top: 30px;
}
.form-body-input-about {
  background: rgba(210, 210, 210, 0.25);
  margin-top: 30px;
  height: 160px;
}
.form-body-file {
  display: flex;
  justify-content: space-between;
  border: 1px solid #929292;
  border-radius: 4px;
  width: 220px;
  height: 50px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: #929292;
  font-weight: bold;
}
.form-body-file p {
  margin-top: 6px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.form-body-file img {
  margin-top: 3px;
  margin-right: 4px;
  height: 30px;
}
.form-body-submit {
  float: right;
  display: flex;
  justify-content: flex-start;
  background: #d60000;
  width: 140px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}
.submit-btn {
  margin-left: 15px;
  background: none;
  border: none;
  font-size: 18px;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}
.form-body-submit img {
  width: 25px;
  height: 25px;
  margin-top: 6px;
  margin-left: 6px;
}
.addbook--message {
  height: 20px;
  width: 380px;
  margin-left: 240px;
  text-align: center;
  color: #fff;
}
#thumbnail-btn {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
#bookAttachment-btn {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.--bg-green {
  background-color: green;
}
.--bg-red {
  background-color: red;
}
