@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.transaction--container {
  max-width: 1349px;
  display: flex;
  flex-direction: column;
}
.transaction--menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header--menu-logo img {
  width: 80px;
  height: 40px;
  margin-left: 65px;
  margin-top: 35px;
}
.header--menu-profile img {
  width: 50px;
  height: 49.29px;
  margin-top: 46px;
  margin-right: 87px;
  cursor: pointer;
}
.transaction--menu-body {
  width: 1050px;
  margin-top: 72.92px;
  margin-left: 170px;
  margin-bottom: 73px;
}
.transaction--menu-body .body--menu-title {
  width: 226px;
}
.transaction--menu-body .body--menu-title p {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}
.body--menu-table {
  margin-top: 42px;
}
.text-active {
  color: #0acf83;
}
.text-deactive {
  color: #ff0742;
}
.text-warning {
  color: #f7941e;
}
.dropdown--menu-profile {
  margin-top: 15px;
  display: block;
  position: absolute;
  left: 1115px;
  width: 150px;
  height: 170px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
}
.dropdown--poligon {
  display: flex;
  float: right;
  margin-left: 30px;
  /* border: 1px solid black; */
}
.dropdown--poligon img {
  height: 20px;
  margin-right: 20px;
  height: 15px;
  width: 15px;
  margin-top: -15px;
}
.dropdown--menu-list {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 33px;
  font-weight: 500;
}
.dropdown--menu-list a {
  text-decoration: none;
  color: black;
}
.dropdown--addbook {
  margin-top: 10px;

  border-bottom: 3px solid #f2f2f2;
}

.dropdown--addbook a {
  display: flex;
  justify-content: flex-start;
  margin-left: 8px;
}
.dropdown--logout {
  margin-top: 10px;
  margin-left: 8px;
}
.dropdown--logout a {
  display: flex;
  justify-content: flex-start;
}
.dropdown--menu {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  height: 80px;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 10px;
  text-align: center;
}
.--cursor-pointer {
  cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  height: 50px;
}
td {
  text-align: left;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 8px;
}
tr:nth-child(odd) {
  background-color: #fff;
}
