.navbar--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.navbar--menu-logo {
  margin-top: 20px;
  margin-left: 80px;
}
.navbar--menu-button {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 100px;
}
.navabar--btn-login {
  margin-right: 20px;
  font-weight: 500;
}
.navabar--btn-login button {
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #393939;
  font-weight: 800;
}
.navabar--btn-login button:hover {
  color: #ffff;
  background-color: #393939;
}
.navabar--btn-register button {
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  background-color: #393939;
  font-weight: 800;
}
.navabar--btn-register button:hover {
  color: #ffff;
  background-color: #393939;
}
.navabar--btn-register button:focus {
  background-color: #393939;
}
